
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf
max_line_length = 120

[*.xml]
indent_size = 2

[*.md]
indent_size = 2
# trailing spaces are meaningful in md
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
